body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  color: rgb(40, 161, 194); /* Màu tiêu đề */
}

.bar:hover {
  opacity: 0.8; /* Khi di chuột vào thanh sẽ mờ đi */
}

/* Tooltip nền trắng, viền xám */
.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip nền đen */
.tooltip1 {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
}

/* Định dạng biểu đồ */
#chart {
  display: flex;
  justify-content: center;
}
